body {
    background: url('./images/clouds-fog.jpg');  
    /* background-color: azure; */
}

.container {
    padding-right: 1px;
    padding-left: 1px;
}

.lspace {
    padding-left: 12px;
}

.logo {
    padding-right: 5px;
}

.top {
    background-color: black;
    color: white;
    font-family: Creepster;
    font-size: 26px; 
    border-radius: 0;
}




