body {
    background: url('./images/clouds-fog.jpg');  
    /* background-color: azure; */
    font-family: Alegreya;
    font-size: 2.5vh;
}

.container {
    padding-right: 1px;
    padding-left: 1px;
}

.lspace {
    padding-left: 12px;
}

.lspace2 {
    padding-left: 24vw;
}

.logo {
    padding-right: 5px;

}

.spread {
    /* background-size: cover; */
    height: 100%;
    width: 100%;
}


.text-block {
  position: absolute;
  bottom: 15vh;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-container {
  position: relative;
}

.top {
    background-color: black;
    color: white;
    font-family: Creepster;
    font-size: 26px; 
    border-radius: 0;
}




